
/* ===CSS RESET=== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat',  "Book Antiqua", Palatino,sans-serif;
    
}

#wrapper {
    width: 95vw;
    margin: 0 auto;
}

header,nav,h1{
    font-family: 'Cinzel',Georgia,"Times New Roman",serif;
    font-weight: bold;
    
 
}


header{text-align:center;
       padding:40px 25px;
       /*font-size:15px;*/
       /*font-size: small;*/
       /*margin:15px 0px;*/
}

/*Alternative colors for section*/
/*#D3D3D3 code for light gray*/ 
/*#C0C0C0 code for silver*/
/*Change background color for each section to background color of 
each paragraph?.NO*/

section{
    margin-bottom: 10px;
    border:5px #C0C0C0 solid;
    padding:15px;
    background-color:rgba(192,192,192, .20);
    /*lighter version of border color*/
}

/*update code for Nav Bar to change color when hovering See Class 7*/
/*Don't forget to "freeze nav bar; see Class 10*/

nav {
 background: #F3D2AE;
} 



 nav ul {list-style-type: none;
      background-color:#CBCBCB;
    /*background-color:#CECECE;*/
    padding: 0;
    /*overflow: hidden; only works with height defined*/
    position: fixed;
    top:0;
    width: 95vw;
    display:flex;
    justify-content:space-around;
    
    }
 



nav li a:link {
    text-decoration:none;  
    /*display: inline;*/
    /*not necessary because aligned horizontally using*/
    /*display:flex justify-content with parent.*/
    font-size: 25px;
}

nav li a:visited {
    color: #82d173;
}

nav li a:hover {
        color: #ffffff;
        /*background-color:#FFC43D;*/
        background-color:#FFCF56;
       
}    





/* I want All images to have rounded borders*/
img {border-radius: 8px;
     margin-right:15px;
}



p { line-height:25px; 
    margin-bottom:10px;
  } 




.flexbox {display:flex;
}


/* background color to match photo*/
    
/*.firstcolor{background-color: #e4e9f5} alternative color*/
.firstcolor{background-color: rgba(228,233,245,.80);
            border-radius: 8px;
            margin-bottom: 15px;
}          

/*.secondcolor{background-color: #ffd18e}alternative second color*/
.secondcolor{background-color: rgba(255,209,142,.50);
             border-radius: 8px;
             margin-bottom: 15px;
}


/*.thirdcolor{background-color:#deefee first alternative*/
/*.thirdcolor{background-color:#bdd4d4} second alternative*/
/*.thirdcolor{background-color:rgba(189, 212, 212,.40) } third alternative*/

/*.thirdcolor{background-color:rgba first choice*/




footer{margin:30px; 

}   